<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Kindle_U</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">niit</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Reader.hbm.xml"/>
    <mapping resource="Books.hbm.xml"/>
    <mapping resource="Comment.hbm.xml"/>
    <mapping resource="Borrow.hbm.xml"/>
    <mapping resource="BookCategory.hbm.xml"/>
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Author.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
